<!doctype html>
<title>Analyzing Trump's Tweets</title>
<h2>Analyzing Trump's Tweets</h2>
    <h4>
      Hey there!!!
    </h4>

    <form id='userinput' method='post' action='show_plot' >
	{% csrf_token %}
    <label for='search_term'>Word to search for: </label>
	<input id='seach_term' type='text' name='search_term' maxlength='100', required />
	<br>
	<label for='timeframe'>Timeframe: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</label>
	<select name = "timeframe">
	<option value="day">Day</option>
	<option value="week">Week</option>
	<option value="month">Month</option>
	</select>
	<br>
    <input type='submit' value='Submit' />
    </form>
</html>